{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AppUX Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-[#EDEBF4]">
    <header>
      <nav class="md:px-[10vw]">
        <div class="flex justify-between">
          <div class="flex space-x-4">
            <div>
              <a
                href="#"
                class="flex items-center py-5 px-2 text-gray-700 hover:text-green-500"
              >
                <img
                  src="{% static 'appux_logo.jpg' %}"
                  alt="logo"
                  class="h-14 mr-2"
                />
                <span class="font-bold text-3xl text-[#57558C]">Appux</span>
              </a>
            </div>
          </div>
          <div class="hidden lg:flex items-center space-x-1">
            <a href="#" class="py-5 px-3 text-gray-700 hover:text-green-500">
              Home
            </a>
            <a href="#" class="py-5 px-3 text-gray-700 hover:text-green-500">
              Case Studies
            </a>
            <a href="#" class="py-5 px-3 text-gray-700 hover:text-green-500">
              Portfolios
            </a>
            <a href="#" class="py-5 px-3 text-gray-700 hover:text-green-500">
              Blog
            </a>
            <a href="#" class="py-5 px-3 text-gray-700 hover:text-green-500">
              Resources
            </a>
            <a
              href="#"
              class="py-2 px-3 bg-[#6085E6] hover:bg-[#6085E6] text-white hover:text-white rounded-lg border-r-4 border-l-4 border-pink-500 transition duration-300"
            >
              Hire Us
            </a>
          </div>
          <div class="lg:hidden flex items-center">
            <button class="outline-none mobile-menu-button">
              <svg
                class="w-6 h-6 text-gray-800 dark:text-black"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 16 12"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M1 1h14M1 6h14M1 11h7"
                />
              </svg>
            </button>
          </div>
        </div>
      </nav>
    </header>
    <main class="mt-14 px-[10vw]">
      <div class="flex flex-col items-center lg:flex-row">
        <div class="lg:w-1/2">
          <h1 class="text-4xl font-black text-black">
            All you wanted to know about working with designers and creating
            delightful product experiences
          </h1>
        </div>
        <div class="lg:w-1/2 w-[50vw]">
          <img
            src="{% static 'kits.jpg' %}"
            alt="image"
            class="lg:h-[15rem] px-[10vw]"
          />
        </div>
      </div>
      <div class="flex flex-col items-center lg:flex-row bg-white rounded-3xl">
        <div class="lg:w-1/2 w-full">
          <img
            src="{% static 'card_1_image.jpg' %}"
            alt="image"
            class="w-full rounded-3xl"
          />
        </div>
        <div class="lg:w-1/2 h-full px-10">
          <h1 class="text-xs font-bold text-[#8483E2]">UI DESIGN</h1>
          <h2 class="text-2xl font-black text-gray-800 mt-4">
            Card Ul Examples And Best Practices For Product Owners
          </h2>
          <p class="mt-4 text-gray-600 text-sm">
            Now in 2022, mors than 2.7 sition mutile app users in the worst
            prater Android apps, na tatow the google cesign princes and the
            design thinking process to create seamiest user experiences and
            aesthetic verfaces for mobile apps for the android platforms
          </p>
          <p class="mt-4 text-gray-600 text-sm">
            We maka android apps mare wievant to users that users leve to use
            and bring your business experience to the next level
          </p>
        </div>
      </div>
      <div
        class="flex flex-col lg:flex-row items-center justify-between py-4"
        id="Links"
      >
        <div class="flex flex-row">
          <h1 class="text-2xl font-black">All Posts</h1>
          <div class="border-l-2 border-gray-300 ml-2 mr-2"></div>
          <a class="border-b-2 underline text-[#8483E2]" href="#Links">
            Design Process
          </a>
          <a class="ml-5" href="#Links">Industry</a>
          <a class="ml-5" href="#Links">Business</a>
          <a class="ml-5" href="#Links">Technology</a>
        </div>

        <div class="flex items-center space-x-4">
          <div class="relative">
            <span class="absolute inset-y-0 right-0 flex items-center pr-2">
              <button class="bg-white px-2 py-1 rounded">
                <svg
                  class="w-4 h-4 text-gray-500"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path d="M15.5 15.5L20 20"></path>
                  <circle cx="10" cy="10" r="7"></circle>
                </svg>
              </button>
            </span>
            <input
              type="text"
              placeholder="Search what you want"
              class="border border-gray-300 px-2 py-1 pl-4 rounded"
            />
          </div>
        </div>
      </div>
      <div class="flex flex-col lg:flex-row justify-between mt-8">
        <div class="lg:w-[30%]">
          <img
            src="{% static 'bottom_card_1.jpg' %}"
            alt="Card 1"
            class="w-full"
          />
          <h1 class="text-xs font-bold text-[#8483E2] pt-4">UI DESIGN</h1>
          <h2 class="text-lg font-semibold mt-2">
            Compelling Design Takes More Than "Making It Like Stripe"
          </h2>
        </div>
        <div class="lg:w-[30%]">
          <img
            src="{% static 'bottom_card_2.jpg' %}"
            alt="Card 2"
            class="w-full"
          />
          <h1 class="text-xs font-bold text-[#8483E2] pt-4">DESIGN PROCESS</h1>
          <h2 class="text-lg font-semibold mt-2">
            What Is Design Thinking and How It Hacks the Way to
          </h2>
        </div>
        <div class="lg:w-[30%]">
          <img
            src="{% static 'bottom_card_3.jpg' %}"
            alt="Card 3"
            class="w-full"
          />
          <h1 class="text-xs font-bold text-[#8483E2] pt-4">UX DESIGN</h1>
          <h2 class="text-lg font-semibold mt-2">
            Health care UX: How Design Can Solve Biggest Challenges For
          </h2>
        </div>
      </div>
    </main>
  </body>
</html>
